name: Deploy Hugo # 任君喜欢

on:
  push:
    branches:
      - master # master 更新触发

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: latest
          extended: true

      - name: Cache resources
        uses: actions/cache@v2
        with:
          path: |
            resources
          key: ${{ runner.os }}-hugocache-${{ hashFiles('content/**/*') }}
          restore-keys: |
            ${{ runner.os }}-hugocache-

      - name: Build
        run: hugo --minify --gc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.personal_token }} # personal_token 这里新建一个 https://github.com/settings/tokens
          PUBLISH_BRANCH: gh-pages # 推送到当前 gh-pages 分支
          PUBLISH_DIR: ./public # hugo 生成到 public 作为跟目录
          commit_message: ${{ github.event.head_commit.message }}
